.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: max(1.5em, 2%) max(1.5em, 5%);
  position: relative;
}

.Footer__volume-icons {
  display: flex;
  gap: 2vw;
}
