.CharacterCard {
  background-image: url("/src/assets/simpsons-images/Nature-Simpsons.webp");
  background-position: center;
  background-size: cover;
  aspect-ratio: 14/16;
  padding: 0.5em 0em;
  min-width: 190px;
  flex-basis: 17.5%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-radius: 5%;
  cursor: pointer;
  box-shadow: 1vw 1vw 2vw 0px black;
  transition: all 0.3s; /* For hover */
  animation: fadeIn 1s ease-in-out;
}

.CharacterCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 0 0.2vw whitesmoke; /* Change border color on hover */
}

.CharacterCard img {
  height: 80%;
}

.CharacterCard p {
  font-size: clamp(1.5rem, 2vw, 100rem);
  color: whitesmoke;
}
