.CharacterCard {
  background-image: url("../../assets/Nature-Simpsons.webp");
  background-position: center;
  background-size: cover;
  aspect-ratio: 14/16;
  padding: 0.5em 0em;
  width: 215px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-radius: 1em;
  cursor: pointer;
  box-shadow: 10px 10px 20px 0px black;
  transition: all 0.3s;
}

.CharacterCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 0 3px whitesmoke; /* Change border color on hover */
}

.CharacterCard img {
  height: 100%; /* Fixed height for the images */
  object-fit: contain;
}

.CharacterCard p {
  font-size: 2rem;
  color: whitesmoke;
}
