.DifficultyLevelButton {
  background-color: var(--white-background-color);
  border-radius: max(0.5em, 5%);
  padding: 0.8em 1.7em;
  font-size: clamp(1rem, 1.3vw, 25rem);
  flex: 0 1 18%; /* flex-grow, flex-shrink, flex-basis */
}
