.ScoreBoard {
  background-color: white;
  border-radius: 10%;
  box-shadow: 0px 0px 20px 0px black;
  padding: 1% 3%;
}

.ScoreBoard p {
  font-size: clamp(1.5rem, 1.6vw, 30rem);
  background-color: #000400;
  background-clip: text;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: max(0.2em, 0.4vw);
  -webkit-background-clip: text;
  color: var(--general-text-color);

  /* Important, so that the whole text is viisble. When screen too big, the text is not fully visible without padding */
  padding-inline: 0.5em;
}

.ScoreBoard__score-value,
.ScoreBoard__best-score-value {
  margin-left: 0.5em;
}
