.UtilityButton {
  background-color: var(--utlity-button-background-color);
  transition: all 0.3s;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  height: clamp(2.5em, 4vw, 29em);
  width: clamp(2.5em, 4vw, 29em);
  z-index: 1;
}

.UtilityButton:hover {
  transform: scale(1.07);
}
