.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.backgroundImage {
  background-image: url("./assets/simpsons-images/SimpsonsFamily.webp");
  background-size: cover;
  background-position: center;
  position: fixed;
  inset: 0;
  opacity: 0.8;
  filter: grayscale(35%);
  z-index: -1;
}
